body {
  font-family: sans-serif;
}
.h1 {
  text-align: center;
  -webkit-text-fill-color: rgb(33, 75, 53);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
}
h3 {
  -webkit-text-rule-color: rgb(31, 53, 38);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}
h2 {
  text-align: center;
}
h5 {
  text-align: center;
}
P {
  text-align: center;
}
.list-group-item {
  font-size: 20px;
}
.h1,
.h3,
.h4 {
  list-style-type: none;
  text-transform: capitalize;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: cadetblue;
}
.list-group {
  background-color: rgb(243, 243, 235);
}
.card-body {
  background-color: darkseagreen;
}
.header {
  display: block;
  margin: 0 auto;
}
.link {
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}
